{
    "rpe": "none",
    "acqd": "PA",
    "denoise": true,
    "degibbs": true,
    "eddy": true,
    "bias": true,
    "ricn": true,
    "norm": false,
    "nval": 1000,
    "acpc": true,
    "reslice": 1
}
